@font-face {
    font-family: "PokemonClassic";
    src: url(Pokemon.ttf);
}
body{
    background:url(bg.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    font-family: PokemonClassic, Arial Black;

}
.tablo{
    margin-top: 39%;
    margin-left: 10%;
}